.boxes{
  width: 100%;
  text-align: left;
}
.box-1{
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
.box-2{
  padding: 10px;
}
.campcustomize-input{
  width: 49%;
}
.setBack{
  background-color: whitesmoke;
}
.setBack:hover{
  background-color: whitesmoke;
  border-color: blueviolet;
}
.setBack:visited{
  background-color: whitesmoke;
  border-color: #423f9f;
}